* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin:0 12px;
}
.profile {
    padding: 0px 120px 0px 120px;
}
.profile_img {
    width: 102px;
    margin: 30px 0px 0px 0px;
    border-radius: 16px;
    
}
.profile_title {
    font-size: 14px;
    font-weight: 600;
    color:#4E5150;
    text-align: center;
}
.profile_subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #A9A9A9;
    padding-top: 5px;
    text-align: center;
}
.metrics_container {
   background-color: #E5E5E5;
   border-radius: 12px;
}
.metrics {
    display: grid;
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(1, 52px);
    gap: 12px;
    margin-top: 12px;
    justify-content: center;
    
}
.metrics_num {
    font-size: 12px;
    color: #4E5150;
    text-align: center;
    padding-top: 10px;
}
.metrics_title {
    font-size: 12px;
    color: #BDBDBD;
    text-align: center;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    justify-content: center;
    margin-top: 40px;
    column-gap:10px;
    row-gap:10px;
    grid-template-areas:
    "img_1 img_2 img_2"
    "img_3 img_3 img_4"
    "img_6 img_5 img_4" 
    ;
}
.img_1 {
    grid-area:img_1 ;
}
.img_2 {
    grid-area: img_2;
}
.img_3 {
    grid-area: img_3;
}
.img_4 {
    grid-area: img_4;
}
.img_5 {
    grid-area: img_5;
}
.img_6 {
    grid-area: img_6;
}

.grid_img {
    width: 110px;
    height: 110px;
    border-radius: 12px;
    box-shadow: 0 0 6px #C4C4C4;
}
.img_2 {
    width: 226px;
}
.img_3 {
    width: 226px;
}
.img_4 {
    height: 226px;
}
.footer {
    text-align: center;
    position: relative;
    top:80px;
   
}
.footer_title {
    font-size: 14px;
    color: #B9BDCF;
}
.footer_title span {
    font-weight: 700;
}

@media (min-width: 600px) {
   .profile {
       padding: 0px 600px 0px 630px;
    }
    .profile_img {
       width: 160px;
       margin: 60px 0px 0px 14px;
       
    }
    .profile_title {
        font-size: 24px;
    }
    .profile_subtitle {
        font-size: 14px;
    }
    .metrics {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(1, 67px);
        margin-top: 24px;
    }
    .metrics_num {
        font-size: 18px;
        padding-top: 14px;
    }
    .metrics_title {
        font-size: 14px;
    }
    .grid_container {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
        column-gap:26px;
        row-gap: 26px;
        margin-top: 60px;

    }
    .grid_img {
        width: 300px;
        height: 300px;
    }
    .img_2 {
        width: 626px;
    }
    .img_3 {
        width: 626px;
    }
    .img_4 {
        height: 626px;
    }
}
