* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin:0 12px;
}
.profile {
    padding: 30px 120px 0px 100px;
}
.profile_img {
    max-width: 102px;
    margin: 30px 0px 0px 0px;
    border-radius: 16px;
    text-align: center;
}
.profile_title {
    font-size: 14px;
    font-weight: 600;
    color:#4E5150;
}
.profile_subtitle {
    font-size: 10px;
    font-weight: 600;
    color: #A9A9A9;
    padding-top: 5px;
}
.metrics_container {
   background-color: #E5E5E5;
   border-radius: 12px;
   
   
}
.metrics {
    display: grid;
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(1, 52px);
    gap: 12px;
    margin-top: 12px;
    
}
.metrics_num {
    font-size: 12px;
    color: #4E5150;
    text-align: center;
    padding-top: 10px;
}
.metrics_title {
    font-size: 12px;
    color: #BDBDBD;
    text-align: center;
}
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    margin-top: 40px;
    column-gap:6px;
    row-gap:6px;
    grid-template-areas:
    "img_1 img_2 img_2"
    "img_3 img_3 img_4"
    "img_6 img_5 img_4" 
    ;
}
.img_1 {
    grid-area:img_1 ;
}
.img_2 {
    grid-area: img_2;
}
.img_3 {
    grid-area: img_3;
}
.img_4 {
    grid-area: img_4;
}
.img_5 {
    grid-area: img_5;
}
.img_6 {
    grid-area: img_6;
}

.grid_img {
    width: 90px;
    height: 90px;
    border-radius: 12px;
}
.img_2 {
    width: 186px;
}
.img_3 {
    width: 186px;
}
.img_4 {
    height: 186px;
}
.footer {
    text-align: center;
    position: relative;
    top:100px;
   
}
.footer_title {
    font-size: 14px;
    color: #B9BDCF;
}
.footer_title span {
    font-weight: 700;
}
